* {
    box-sizing: border-box;
}

body {
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.font {
    text-align: center;
    font-size: 20px;
}



@media screen and (min-width: 1024px) {
    .footer {
        display: grid;
        height: 20vh;
        background-color: #c7c5c5;
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .page-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(11, 1fr);
        height: 90vh;
        width: 90vw;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        display: none;
    }
}

.header {
    display: grid;
    height: 20vh;
    background-color: #c7c5c5;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;

}



.main {
    display: grid;
    height: 70vh;
    background-color: #f9fae1;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 10;


}


.mini-container {
    display: grid;
    background-color: #f9fae1;
    text-align: center;
    font-size: 20px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);

}

.else1 {
    background-color: #fae0a0;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 7;
}

.else2 {
    background-color: #fae0a0;
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 2;
    grid-row-end: 7;
}

.else3 {
    background-color: #fae0a0;
    grid-column-start: 2;
    grid-column-end: 15;
    grid-row-start: 8;
    grid-row-end: 13;
}

.sidebar {
    background-color: #c3dbc0;
    display: grid;
    height: 70vh;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 10;


}


.footercontainer {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(3, 1fr);
}




.element1 {
    background-color: white;
    display: grid;
    height: 7vh;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.element2 {
    background-color: white;
    display: grid;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}


.element3 {
    background-color: white;
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}

.element4 {
    background-color: white;
    grid-column-start: 12;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 3;
}